<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<!--start-php-->
		<handlers>
			<remove name="php_5.2" />
			<remove name="php_5.3" />
			<remove name="php_5.4" />
			<remove name="php_5.5" />
			<remove name="php_5.6" />
			<remove name="php_7.0" />
			<remove name="php_7.1" />
			<add name="php_7.1" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\bt\BtSoft\WebSoft\php\7.1\php-cgi.exe" resourceType="Unspecified" requireAccess="Script" />
		</handlers>
		<!--end-php-->
					
		<!--start-rewrite-->
		<rewrite>
			<rules>
			    <rule name="TP" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
                </rule>
		    </rules>
		</rewrite>	
		<!--end-rewrite-->
		<directoryBrowse enabled="false" />
        <security>
            <requestFiltering allowDoubleEscaping="true" />
        </security>
        <httpErrors errorMode="Detailed" />
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Headers" value="content-type,authorization,auth-token,api-key" />
            </customHeaders>
        </httpProtocol>
	</system.webServer>
</configuration>